body {
    padding-top: 60px;
}

.text-dark-green {
    color: #5fcf80 !important;
}

.bg-dark {
    background: #51667E !important;
}

.navbar-light .navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.2);
}

.bg-grey {
    background-color: #637a91;
    color: #fff;
}

.card {
    border: unset;
}

.type:hover {
    box-shadow: 1px 2px 3px #00000038;
    cursor: pointer;
}

.react-calendar {
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.2);
}

div#Events {
    height: 50vh;
    overflow-y: scroll;
}

a:hover {
    text-decoration: unset;
}